.noDisplay{
    display: none;
}
.blueCard{
    background-color: aqua;
    border: 2px solid black;
    height: 100px;
    width: 80px;
}
.orangeCard{
    background-color: orange;
    border: 2px solid black;
    height: 100px;
    width: 80px;
}
#pCardsDiv{
    display: flex;
}
#pCardsDivChancellor{
    display: flex;
}
.selected{
    background-color: gray;
}
#policiesEnactedF{
    display: flex;
    margin: 1em;
}
#policiesEnactedL{
    display: flex;
    margin: 1em;
}
.boardCard{
    border: 2px solid black;
    height: 100px;
    width: 80px;
}
#electionTracker{
    margin: 1em;
    display: flex;
}
.electionTrackerDiv{
    height: 40px;
    width: 40px;
    border: 2px solid black;
}
.eTrackerRed{
    background-color: red;
}

#gameAnnouncements{
    width: 400px;
    height: 100px;
    background-color: #F4EECA;
    display: flex;
    /* justify-content: flex-end; */
    font-weight: bold;
}
#gameAnnouncementsTitle{
    color:black;
    width: 150px;
    height: 20px;
    background-color: #F4EECA;
    padding:0;
    margin:0;

}
#playerCard{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 90px;
}

#playerSelfInfo{
    display: flex;
    background-color: #F4EECA;
    gap: 10px;
    width: 400px;
    height: 100px;
}
#playerSelfInfoTitle{
    color:black;
    width: 150px;
    height: 20px;
    background-color: #F4EECA;
    padding:0;
    margin:0;
}
#playerNameInBoard{
    font-weight: bold;
    padding:0;
    margin:0;
}

#gameOptions{
    margin-top: 20px;;
}
#playerSelfInfoPlusTitle{
    margin-top: 20px;
    padding: 0;
}
#startAndReady{
    width: 400px;
    height: 100px;
    background-color: #ebcf34
}
.superFascistPlayer{
    width: 380px;
    background-color: orange;
    border: 2px solid black;
    padding:10px;
    margin-top:10px;
    margin-bottom: 0;
}

.fascistPlayer{
    width: 380px;
    background-color: orange;
    border: 2px solid black;
    padding:10px;
    margin:0;
}

#userInfo{
    display: flex;
}

#gameOptions{
    width: 500px;
    height: 1000px;
}
#playersTurn{
    background-color: #F4EECA;
    width: 400px;
    height: 60px;
}